body {
  background: #f5f6fa !important;
  min-height: 100vh;
  margin: 0; 
}

.nav-sec {
  width: 1400px;
  height: 95px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.bookstore-CMS {
  height: 37px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: normal;
  color: #0290ff;
}

.data-card {
  width: 90%;
  height: 170px;
  border: 1px solid #e2e2e2
}

.title-font {
  font-family: 'Roboto Slab', serif;
}